/* ---------------- Global CSS ----------------*/


body {
    background-color: lightgray;
}




/* ---------------- Reusable CSS ----------------*/

.fix-right-div {
    position: fixed;
    bottom: 300px;
    right: -120px;
    -webkit-transform: rotate(20deg);
    transform: rotate(-90deg);
}

.fix-right-div a {
    background: gray;
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: 1px solid #dfe6e9;
    background-color: #1274c0;
}






/* ---------------- Home Page CSS ----------------*/

.nav-link {
    display: inline-block;
    color: navy !important;
}

.navbar-nav .highlight a {
    background: orange;
    border-radius: 5px;
    padding: .2rem 1rem;
    margin: .3rem 0;
}

.carousel {
    position: relative;
}

.banner-front {
    position: absolute;
    top: 3%;
    left: 25%;
}



/* --- Body Section --*/


.body-section {
    padding: 2rem 0;
}

.body-section .sidebar {
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;

}

.body-section .sidebar li {
    padding: .5rem 1rem;
    background: white;
    color: navy;
    border: 1px solid gray;
}


.item {
    -webkit-box-shadow: 0 5px 10px 0 #bbb;
    box-shadow: 0 5px 10px 0 #bbb;
    border: 1px solid #999999;
    margin: .5rem;
    border-radius: 5px;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;

}

.item:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-transition: 1s all;
    transition: 1s all;
}

.onlineShop-service {
    background: white;
    border-radius: 10px;
    padding: 2rem .5rem;
    margin-bottom: 1rem;
}

/* ========== apps banner ========== */

.apps-banner {
    position: relative;
}

.apps-banner-float {
    position: absolute;
    top: 5%;
    left: 25%;
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;

}

/* ========== Useful Service ========== */

.useful-service-section {
    padding: 2rem 0;
}



.useful-service-section .service-text {
    font-size: .7rem;
}


.footer-top ul li {
    display: inline-block;
    padding: .5rem;
}

.footer-top ul li a {
    color: black;
}


.footer-top .flag ul li {
    display: inline;
    padding: 0;

}

.footer-top .icon-bottom a {
    color: orange;
    font-size: 2rem;
    padding: .5rem;
}

/* ========== Category Page ========== */

/* -----------------Moto Care Sub Category Page ---------*/
.sub-category ul {
    background: white;
    padding: 1rem 2rem;
    width: 100%;
    margin: auto;
}

.sub-category ul li {
    background-color: #e9e8e8;
    margin: .2rem;
    padding: .7rem;
}

.sub-category ul li a {
    font-size: 1.5rem;
    color: #414e5a;
    -webkit-transition: 1s all;
    transition: 1s all;
}

.sub-category ul li a:hover {
    color: #1274c0;
    -webkit-transition: 1s all;
    transition: 1s all;
}


@media (max-width: 438px) {
    .sub-category ul li a {
        font-size: 1rem;


    }
}

@media (max-width: 320px) {
    .sub-category ul li a {
        font-size: .8rem;


    }
}


/* ----------------- Moto Wash of Sub Category Moto Care ---------*/



.subtitle-inner .shortByResult {
    border: 1px solid gray;
    margin: 2rem 0;

}

.subtitle-inner .shortByResult ul li,
.subtitle-inner .shortByResult ul li a {
    padding: .5rem;
    text-align: center;
    padding: 1rem;
    color: orange;
    font-weight: bold;
    text-decoration: none;

}

.subtitle-inner .shortByResult ul li:hover,
.subtitle-inner .shortByResult ul li a:hover {
    color: #1274c0;
    -webkit-transition: 1s all;
    transition: 1s all;
}

.subtitle-inner .shortByResult ul li:nth-child(1) {
    background: gray;
    padding: 1rem 3rem;
    color: #1274c0;
}

@media (max-width: 767px) {
    .subtitle-inner .shortByResult ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.sidebar .div {
    padding: .5rem;
    border: 1px solid gray;
    margin: .5rem;
    background: white;
}
