/* ---------------- Global CSS ----------------*/


html {
    scroll-behavior: smooth;
}

body {
    background-color: lightgray;
}




/* ---------------- Reusable CSS ----------------*/


.fix-right-div {
    position: fixed;
    bottom: 300px;
    right: -120px;
    -webkit-transform: rotate(20deg);
    transform: rotate(-90deg);
}

.fix-right-div a {
    background: gray;
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: 1px solid #dfe6e9;
    background-color: #1274c0;
}


/* Reveiw Start */
.checked {
    color: orange;

}




/* ---------------- Home Page CSS ----------------*/

.navbar-section .nav-item .nav-link {
    display: inline-block;
    color: navy !important;
}

.navbar-section .navbar-nav .highlight a {
    background: orange;
    border-radius: 5px;
    padding: .2rem 1rem;
    margin: .3rem 0;
}




/* ---------------- Category Section ----------------*/

#categoryAria {
    width: 100%;


}

.category-div {
    border-bottom: 2px solid orange;
    border-top: 2px solid #1274c0;
    background: white;

}

#categoryAria .col-6 #category {
    position: absolute;
    background-color: #f2f3f7;
    width: 100%;
    z-index: 9;
    display: none;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid #1274c0;
}

#categoryAria .col-md-6 #category li a {
    color: #000000;
}

#categoryAria #category .col-md-6:nth-child(1) {
    padding-right: 5px;
}

#categoryAria #category .col-md-6:nth-child(2) {
    padding-left: 5px;
}



.category {
    color: #000000;
    font-size: 20px;
    margin-left: 10%;

}


#categoryAria ul li {
    list-style: none;
    border-bottom: 5px double orange;
    padding-top: 5px;
    padding-bottom: 5px;
}

#categoryAria ul li a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}

#categoryAria #category .col-md-6:nth-child(1) ul li:nth-child(1):hover {
    border-top-left-radius: 20px;
}

#categoryAria .container .position-div {
    position: relative;
}

#categoryAria .col-md-6 ul li:hover {
    background-color: #ffffff;

    box-shadow: 9px 8px 10px -3px rgba(0, 0, 0, 0.75) transition: 1s all;

}

#category li .ml-5 {
    margin-left: 5% !important;
}

#categoryAria .nav {
    margin-left: 36%;
}

.category-text {
    color: #444444;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #444444;
    text-decoration: none;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transition: 1s all;
    transition: 1s all;
}

.category-text:hover {
    text-decoration: none;
}

.nav-link {
    font-size: 19px;
    padding: 0 1rem !important;

}

/* ---------------- Carousel Section ----------------*/


.carousel {
    position: relative;
}

.banner-front {
    position: absolute;
    top: 10%;
    left: 25%;
}

.input-group-prepend .btn {
    background: #1274c0;
    color: white;
}


.input-group-prepend .btn:hover {
    border: none;
}

@media (max-width: 767px) {
    .banner-front {
        position: absolute;
        top: 3%;
        left: 2%;
    }


}

/* ---------------- Body Section ----------------*/



.body-section {
    padding: 2rem 0;
}

.body-section h4 {
    text-align: center;
    padding: 2rem;
    box-shadow: 2px 3px 13px 6px #bbb;
    text-transform: uppercase;
    border-bottom: 2px solid orange;
    color: #1274c0;
    font-weight: bold;
}

.body-section h6 {
    border-bottom: 2px solid #1274c0;
    padding: .5rem;
}

.item {
    -webkit-box-shadow: 0 5px 10px 0 #bbb;
    box-shadow: 0 5px 10px 0 #bbb;
    border: 1px solid #999999;
    margin: .5rem;
    border-radius: 5px;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
    margin: 1rem 0;

}

.item:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-transition: 1s all;
    transition: 1s all;
}

.item a {
    text-decoration: none;
    color: #1274c0;
}

.item .btn {
    background: orange;
    color: white;
    font-weight: bold;
    border: 1px solid #1274c0;

}

.onlineShop-service {
    background: white;
    border-radius: 10px;
    padding: 2rem .5rem;
    margin-bottom: 1rem;
}



/* ========== apps banner ========== */

.apps-banner {
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 29, 29, .7)), to(rgba(29, 29, 29, .7))), url(../img/services/apps-banner.jpg);
    background: linear-gradient(rgba(29, 29, 29, .7), rgba(29, 29, 29, .7)), url(../img/services/apps-banner.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
    padding-bottom: 8rem;

}

.apps-banner-float {
    position: absolute;
    top: 20%;
    left: 20%;
    margin: auto;
    width: 60%;
    text-align: center;
    color: white;

}

@media (max-width: 575px) {
    .apps-img {
        width: 50%;
    }
}



/* ========== Useful Service ========== */

.useful-service-section {
    padding: 2rem 0;
}



.useful-service-section .service-text {
    font-size: .7rem;
}



@media (max-width: 767px) {
    .body-section h6 {
        font-size: .7rem;
    }

    .body-section ul li a {
        font-size: .6rem;
    }

    ..btn-sm {
        font-size: .5rem;

    }

    .useful-service-section {
        text-align: center;
    }


}


/* ---------------- Footer Section ----------------*/

.index-footer {
    border-top: 2px solid #1274c0;
    padding: 1rem;
    text-align: center;
}

.index-footer a {
    text-decoration: none;
    color: #1274c0;
}

.footer-top ul li {
    display: inline-block;
    padding: .5rem;
}

.footer-top ul li a {
    color: black;
}


.footer-top .flag ul li {
    display: inline;
    padding: 0;

}

.footer-top .icon-bottom a {
    color: orange;
    font-size: 2rem;
    padding: .5rem;
}


/* ========== Free Listing Page ========== */

.free-listing {
    background: white;
    padding: 2rem;
}


.free-listing h5 {
    text-transform: uppercase;
    color: orange;
}

/* ========== Category Page ========== */

/* -----------------Moto Care Sub Category Page ---------*/
.sub-category ul {
    background: white;
    padding: 1rem 2rem;
    width: 100%;
    margin: auto;
}

.sub-category ul li {
    background-color: #e9e8e8;
    margin: .2rem;
    padding: .7rem;
}

.sub-category ul li a {
    font-size: 1rem;
    color: #414e5a;
    -webkit-transition: 1s all;
    transition: 1s all;
}

.sub-category ul li a:hover {
    color: #1274c0;
    -webkit-transition: 1s all;
    transition: 1s all;
}


@media (max-width: 438px) {
    .sub-category ul li a {
        font-size: 1rem;


    }
}

@media (max-width: 320px) {
    .sub-category ul li a {
        font-size: .8rem;


    }
}


/* ----------------- Moto Wash of Sub Category Moto Care ---------*/



.subtitle-inner .shortByResult {
    border: 1px solid gray;
    margin: 2rem 0;

}

.subtitle-inner .shortByResult ul li,
.subtitle-inner .shortByResult ul li a {
    padding: .5rem;
    text-align: center;
    padding: 1rem;
    color: orange;
    font-weight: bold;
    text-decoration: none;

}

.subtitle-inner .shortByResult ul li:hover,
.subtitle-inner .shortByResult ul li a:hover {
    color: #1274c0;
    -webkit-transition: 1s all;
    transition: 1s all;
}

.subtitle-inner .shortByResult ul li:nth-child(1) {
    background: gray;
    padding: 1rem 3rem;
    color: #1274c0;
}

@media (max-width: 767px) {
    .subtitle-inner .shortByResult ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.sidebar .div {
    padding: .5rem;
    border: 1px solid gray;
    margin: .5rem;
    background: white;
}

.sidebar .div ul li {
    padding: .5rem 0;
}

.subtitle-inner .product-des a {
    text-decoration: none;

}

.subtitle-inner .product-des a ul li {
    color: #788898;
    padding: .2rem 0;
}


/*-----------Moto Banner -----------*/

.moto-banner {
    padding: 5rem 0 10rem 0;
    background-image:
        -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.8))),
        url("../img/category-page/hind-moto-banner.png");
    background-image:
        linear-gradient(to left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
        url("../img/category-page/hind-moto-banner.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 70vh;
    position: relative;
}



.moto-banner .moto-wrapped .wrapped-top {
    top: 5%;
    left: 10%;
    position: absolute;
}



.moto-banner .moto-wrapped .modal-list li {
    display: inline-block;
    padding: .3rem;
    margin: .2rem;

}

.moto-banner .moto-wrapped .modal-list li a {
    color: gray;
}

.moto-banner .moto-wrapped ul li {
    display: inline-block;

}

.moto-banner .moto-wrapped ul:nth-child(4) li i {
    color: orange;
}


.moto-banner .moto-wrapped .wrapped-bottom {
    bottom: 0;
    left: 10%;
    position: absolute;
}

.moto-banner .moto-wrapped .wrapped-bottom ul li {
    display: block;

}

.moto-banner .moto-wrapped .wrapped-bottom-right {
    bottom: 0;
    right: 10%;
    position: absolute;
}


/*-- Moto Body Section  --*/

.moto-body .nav {
    border: 1px solid gray;
    margin: 1rem 0;
    -webkit-transition: 1s all;
    transition: 1s all;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
}

.moto-body .nav .nav-item a {
    font-weight: bold;
    color: #666 !important;
}

.moto-body .nav .nav-item:hover a {
    color: orange !important;
    -webkit-transition: 1s all;
    transition: 1s all;
}

.moto-body .nav .nav-item:visited,
.moto-body .nav .nav-item:focus {
    color: #666 !important;
}

.moto-body .image,
.moto-body .reviews,
.moto-body .about,
.moto-body .contact {
    border: 1px solid gray;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    -webkit-box-shadow: 2px 5px 5px gray;
    box-shadow: 2px 5px 5px gray;
}

.moto-body .image h5,
.moto-body .reviews h5,
.moto-body .about h5,
.moto-body .contact h5 {
    color: #1274c0;
    text-transform: uppercase;
}


.moto-body .lg-Btn {
    background: #1274c0;
    font-size: 30px;
    border-radius: 5px;
    margin: 1rem 0;
    border: 1px solid gray;
    text-transform: uppercase;
}

.moto-body .lg-Btn a,
.moto-body .lg-Btn button {
    color: white;
    text-decoration: none;
}

.moto-body .form-group .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: orange;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.moto-body .lg-Btn button {
    border: none;
    background: #1274c0;
    text-transform: uppercase;
}



/* ---------------- Sing Up Page CSS ----------------*/


.signUp .nav-pills {
    background: white;
    padding: .5rem;
    border-radius: 5px;
    -webkit-box-shadow: 2px 5px 5px gray;
    box-shadow: 2px 5px 5px gray;
    border-bottom: 2px solid #1274c0;

}

.signUp .nav-pills .nav-item .active {
    color: white !important;
    font-weight: bold;
    background: #1274c0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid orange;

}

.signUp .nav-pills .nav-item a {
    font-weight: bold;
    color: #1274c0 !important;
}


.signUp .tab-content .active {

    padding: 1rem;
    background: #c3c3c3;
}





/*---------------------------*/
.order-btn {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.order-btn a {

    padding: 1rem 5rem;
    color: white;
    font-weight: bold;
    background: orange;
    border: 1px solid #1274c0;
    font-size: 1.5rem;
    border-radius: 10px;
    text-transform: uppercase;
    -webkit-transition: 1s all;
    transition: 1s all;
}


.order-btn a:hover {
    -webkit-transition: 1s all;
    transition: 1s all;
    background: white;
    color: orange;
}

.bkash-form {

    width: 60%;
    margin: auto;
    border: 1px solid #1274c0;
    padding: .8rem;
    border-radius: 10px;

}


.rocket-form {
    width: 95%;
    margin: auto;
    border: 1px solid #1274c0;
    padding: .8rem;
    border-radius: 10px;

}
